html, body, #app, #app>div {
  height: 100%;
  font-size: calc(2px + 2vmin);
  background-image: url("../public/background.jpeg");
  background-size: 100% 100%;
  width: 100%;
  justify-content: center;
}

nav {
  background-image: url("../public/background.png");
  display: flex;
  justify-content: space-around;
  height: 10vh;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #9d2b2b;
  font-size: 3vh;
}

.tableHead {
  background-color: #ecec0b;
}

li:hover{
  font-size: 4vh;
}