@media only screen and (orientation: landscape) {
    html, body, #app, #app>div  {
        background-image: url("../public/background.jpeg");
    }
}

@media only screen and (orientation: portrait) {
    html, body, #app, #app>div {
      background-image: url("../public/portrait.jpeg");
    }
}

html, body, #app, #app>div {
  height: 100%;
  font-size: calc(2px + 2vmin);
  background-position-y: 10vh;
  background-size: 100% 90%;
  width: 100%;
  justify-content: center;
}

nav {
  background-image: url("../public/background.png");
  background-size: 20vh;
  display: flex;
  justify-content: space-around;
  height: 10%;
}

.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #9d2b2b;
  font-size: 3vh;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}

#bottom-div {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  font-size: calc(2px + 2vmin);
  width: 100%;
}

img {
    position: absolute;
    margin: 1000px;
    padding: 0px;
}